

<form action="/" method="POST">
    <select id="title" name="title">
        <option value="1">sunt aut facere repellat provident occaecati excepturi optio reprehenderit</option>
        <option value="2">qui est esse</option>
        <option value="3">ea molestias quasi exercitationem repellat qui ipsa sit aut</option>
        <option value="4">eum et est occaecati</option>
        <option value="5">nesciunt quas odio</option>
        <option value="6">dolorem eum magni eos aperiam quia</option>
        <option value="7">magnam facilis autem</option>
        <option value="8">dolorem dolore est ipsam</option>
      </select>
    <input type="submit" value="See full sentence" class="button">
</form>

